@import 'tailwindcss';

* {
  font-family: 'Prompt', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shine {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.animate-shine {
  background-size: 200% auto;
  animation: shine 5s linear infinite;
}

@custom-variant dark (&:where(.dark, .dark *));